<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if env == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "app.compiled.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
  </body>
  <script src="https://cdn.jsdelivr.net/gh/jsanahuja/InstagramFeed/dist/InstagramFeed.min.js"></script>
  <script>
    (function(){
      new InstagramFeed({
        'username': 'lovebreathse',
        'container': document.getElementById("instagram"),
        'display_profile': false,
        'display_biography': false,
        'display_gallery': true,
        'callback': null,
        'styling': true,
        'items': 10,
        'items_per_row': 5,
        'margin': 1 
      });
    })();
  </script>
</html>
