@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvenirNextCondensed-Bold';
  src:  url('/static/fonts/AvenirNextCondensed-Bold.woff2') format('woff2'),
        url('/static/fonts/AvenirNextCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AvenirNextCondensed-Regular';
  src:  url('/static/fonts/AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('/static/fonts/AvenirNextCondensed-Regular.woff') format('woff');
}

body {
  font-family: 'AvenirNextCondensed-Regular';
}

h1, h2, h3, figcaption {
  font-family: 'AvenirNextCondensed-Bold';
}

.text-shadow {
  text-shadow: 0 1px 2px #953412;
}

.text-shadow-green {
  text-shadow: 0 1px 2px #5c7714;
}

.site-header {
  background: rgb(245,98,83);
  background: radial-gradient(circle, rgba(245,98,83,1) 0%, rgba(206,22,57,1) 100%);
  min-height: 100vh;
}

.site-header:before,
.site-header:after {
  background-size: 100%;
  width: 15%;
  height: 100vh;
  content: '';
  position: absolute;
  top: 0;
}

.site-header:before {
  background: url('/static/images/face-left.svg') no-repeat;
  left: 0;
}

.site-header:after {
  background: url('/static/images/face-right.svg') no-repeat top right;
  right: 0;
}

.logo {
  padding-top: 10vw;
  padding-bottom: 10vw;
  width: 70%;
  max-width: 1000px;
  background: url('/static/images/hearts.png') no-repeat center;
  background-size: 100%;
}

.box {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.3), inset 0 0 50px rgba(0,0,0,0.2);
  padding: 13%;
  position: relative;
}

.box-red {
  background: radial-gradient(circle, rgba(245,98,83,1) 0%, rgba(206,22,57,1) 100%);
}

.box:before, .box:after {
  background: transparent;
  bottom: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
  content: ' ';
  height: 10px;
  left: 12px;
  position: absolute;
  transform: skew(-5deg) rotate(-5deg);  
  width: 40%;
  z-index: -1;  
}

.box:after  {
  left: auto;  
  right: 12px;  
  transform: skew(5deg) rotate(5deg);  
}

.box.box-red:before, .box.box-red:after {
  bottom: 18px;
}

.site-content {
  background: rgb(247,147,30);
  background: radial-gradient(circle, rgba(247,147,30,1) 0%, rgba(241,87,34,1) 100%);
  padding-bottom: 10vw;
}

.product-image {
  filter: drop-shadow(0px 4px 8px #953412);
}

.site-stores {
  background: #93C01F;
  padding: 10% 0;
}

.instagram-wrapper {
  background: #F4C2D1;
  background: radial-gradient(circle, #F4C2D1 0%, #DF7494 100%);
  
  padding: 1% 1% 5%;
}

.site-footer {
  position: relative;
  overflow: hidden;
  padding: 10% 0;
  /* background: rgb(247,147,30);
  background: radial-gradient(circle, rgba(247,147,30,1) 0%, rgba(241,87,34,1) 100%); */
  background: #93C01F;
}

/* .site-footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: purple;
  width: 200px;
  height: 200px;
  border-radius: 100%;
} */