---
layout: base.njk
title: Lovebreath
---

<header class="site-header">
    <div class="logo mx-auto max-w-2xl">
        <img src="/static/images/logo.svg" alt="Lovebreath – Få en attraktivare andedräkt">
    </div>
    <div class="w-4/5 max-w-2xl mx-auto relative z-10">
        <div class="box">
            <p class="mb-4">Det här är en kärleksförklaring till alla oss som lever i en tid av osäkerhet.</p>
            <p class="mb-4">Till alla oss som går oroliga för hur vi går klädda, hur vi ska träna, hur vi ska vara, hur andedräkten är. Vad vi lägger upp för bilder, om och vad vi ska kommentera och vad det får för konsekvenser. Vi som hela tiden vill bli omtyckta och bekräftade av vår omgivning, särskilt från dem vi tycker om och vill vara nära.</p>
            <p class="mb-4">Kärleken levereras i form av en hjärtformad nyhet som är sockerfri, vegansk, innehåller naturliga ingredienser, bakteriedödande zink och en hotting.</p>
            <p class="mb-4">Till alla oss som vill andas passion, finns Love Breath.</p>
            <p>Kärlek vid första andetaget.</p>
        </div>
    </div>
</header>
<div class="site-content py-64 -mt-40">
    <div class="w-4/5 max-w-6xl mx-auto flex flex-wrap sm:flex-col md:flex-row">
        <div class="md:w-1/3 px-10 mb-16">
            <figure>
                <img class="product-image" src="/static/images/Het_Strawberry_Colada.png" alt="Lovebreath – Het strawberry colada">
                <figcaption class="mt-8 text-center uppercase text-white text-sm text-shadow">En smak som får dig att hetta till</figcaption>
            </figure>
        </div>
        <div class="md:w-1/3 px-10 mb-16">
            <figure>
                <img class="product-image" src="/static/images/Het_Melon.png" alt="Lovebreath – Het melon">
                <figcaption class="mt-8 text-center uppercase text-white text-sm text-shadow">En fruktig smak som attraherar de flesta</figcaption>
            </figure>
        </div>
        <div class="md:w-1/3 px-10 mb-16">
            <figure>
                <img class="product-image" src="/static/images/Fresh_Sweetmint.png" alt="Lovebreath – Fresh sweetmint">
                <figcaption class="mt-8 text-center uppercase text-white text-sm text-shadow">En smak som får dig att hetta till</figcaption>
            </figure>
        </div>
        <div class="md:w-1/3 px-10 mb-16">
            <figure>
                <img class="product-image" src="/static/images/Het_Chili_Liquorice.png" alt="Lovebreath – Het chili liqourice">
                <figcaption class="mt-8 text-center uppercase text-white text-sm text-shadow">En smak som får dig att hetta till</figcaption>
            </figure>
        </div>
        <div class="md:w-1/3 px-10 mb-16">
            <figure>
                <img class="product-image" src="/static/images/Het_Kiwi.png" alt="Lovebreath – Het kiwi">
                <figcaption class="mt-8 text-center uppercase text-white text-sm text-shadow">En smak som får dig att hetta till</figcaption>
            </figure>
        </div>
        <div class="md:w-1/3 px-10 mb-16">
            <figure>
                <img class="product-image" src="/static/images/Fresh_Seasalt_Liquorice.png" alt="Lovebreath – Fresh seasalt liqourice">
                <figcaption class="mt-8 text-center uppercase text-white text-sm text-shadow">En smak som får dig att hetta till</figcaption>
            </figure>
        </div>
    </div>
</div>

<footer class="site-footer">
    <h2 class="text-center uppercase text-white text-3xl text-shadow mb-32">Du hittar oss här!</h2>
    <div class="w-4/5 max-w-3xl mx-auto flex justify-between">
        <div class="w-1/3">
            <img src="/static/images/logo.svg" alt="Lovebreath – Få en attraktivare andedräkt">
        </div>
        <div class="w-1/3">
            <img src="/static/images/logo.svg" alt="Lovebreath – Få en attraktivare andedräkt">
        </div>
    </div>
</footer>